<div class="mainpage">
  <div class="content">
    <div class="left-content">
      <div class="left-content-text">
        {{ gigData.gigObject }}
      </div>
      <a [routerLink]="['/Profile', gigData.userId]">
        <div class="list-item-firt-line">
          <img src="{{ users[0].imgPath }}" alt="" class="list-item-user-img" />
          <div class="list-item-user-name">
            {{ users[0].name }}
          </div>
        </div>
      </a>
      <mat-divider></mat-divider>
      <div class="left-content-post-date">
        Created in {{ gigData.createdAt }}
      </div>

      <div class="slick-carousel-content">
        <img src="{{ gigData.file }}" alt="" />
      </div>

      <div class="left-content-about">
        <div class="left-content-about-tag">About This Gig</div>
        <div class="left-content-about-text">
          {{ gigData.gigdescription }}
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="left-content-about-tag">About The Seller</div>
      <!------------------------------------------------>
      <mat-card class="head-profile">
        <div>
          <img
            src="../../assets/profile-header.png"
            class="profile-header-img"
            alt="dza"
          />
        </div>

        <div>
          <img src="{{ users[0].imgPath }}" alt="avatar" class="avatar" />
          <div>
            <img
              src="../../assets/verified-dark.png"
              [ngClass]="{ 'verified-none': users[0].verified == 'no' }"
              alt="verified"
              class="verified"
            />
          </div>
        </div>

        <div class="secend-content">
          <div class="head-line-1">
            <a [routerLink]="['/Profile', gigData.userId]">
              <div class="User-name">{{ users[0].name }}</div></a
            >
          </div>

          <div class="head-text">
            {{ users[0].occupation }}
          </div>

          <div class="head-line-3">
            <div class="Contact-me">
              <button mat-raised-button color="primary" class="Contact-me-b">
                Contact Me
              </button>
            </div>
          </div>
        </div>
      </mat-card>
      <!------------------------------------------------>

      <mat-card class="profile-details">
        <div class="profile-details-2">
          <div class="profile-details-4">
            <span>Member since</span>
            <span>{{ users[0].createdAt }}</span>
          </div>
          <mat-divider></mat-divider>
          <div class="profile-details-4">
            <span>From</span>
            <span>{{ users[0].country }}</span>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="right-content">
      <div class="right-content-flex">
        <a (click)="Type('Standar')" class="right-content-left">
          <div>Standar</div>
        </a>

        <a (click)="Type('Premium')" class="right-content-right">
          <div>Premium</div>
        </a>
      </div>

      <div class="right-content-content" *ngIf="isStandar">
        <div class="right-content-content-price">
          <img src="../../assets/ethlogo2.png" alt="ethlogo" />
          <span>{{ gigData.StandarPrice }}</span>
        </div>
        <div class="right-content-content-comment">
          <span>
            {{ gigData.Standardescription }}
          </span>
        </div>
        <div class="right-content-content-flex">
          <div class="right-content-content-delivery-time">
            <mat-icon>access_time</mat-icon>
            <span>{{ gigData.StandarDeleveryTime }} Delivery</span>
          </div>
          <div class="right-content-content-Revision">
            <mat-icon>refresh</mat-icon>
            <span>{{ gigData.StandarRevisions }} Revisions</span>
          </div>
        </div>
        <div class="right-content-content-abilitys">
          <div class="right-content-content-ability">
            <mat-icon class="checked-situation"> check</mat-icon>
            <span>{{ gigData.StandarBaseArtwork }} Base Artwork</span>
          </div>
          <div class="right-content-content-ability">
            <mat-icon class="checked-situation"> check</mat-icon>
            <span>{{ gigData.StandarTraitAccessory }} Trait/Accessory</span>
          </div>
          <div class="right-content-content-ability">
            <mat-icon class="checked-situation"> check</mat-icon>
            <span>{{ gigData.StandarVariation }} Variation</span>
          </div>
          <div class="right-content-content-ability">
            <mat-icon
              class="checked-situation"
              [ngClass]="{
                'checked-situation-disabled': gigData.StandarMetadata == 'false'
              }"
            >
              check</mat-icon
            >
            <span>Metadata</span>
          </div>
          <div class="right-content-content-ability">
            <mat-icon
              class="checked-situation"
              [ngClass]="{
                'checked-situation-disabled':
                  gigData.StandarGeneration == 'false'
              }"
            >
              check</mat-icon
            >
            <span>Collection Generation</span>
          </div>
          <div class="right-content-content-ability">
            <mat-icon
              class="checked-situation"
              [ngClass]="{
                'checked-situation-disabled':
                  gigData.StandarBackground == 'false'
              }"
            >
              check</mat-icon
            >
            <span>Background/Scene</span>
          </div>
        </div>

        <div class="Contact-me">
          <button
            mat-flat-button
            color="primary"
            (click)="openDialogEmail()"
            class="Contact-me-b"
          >
            Contact Me
          </button>
        </div>
      </div>

      <div class="right-content-content" *ngIf="!isStandar">
        <div class="right-content-content-price">
          <img src="../../assets/ethlogo2.png" alt="ethlogo" />
          <span>{{ gigData.PremiumPrice }}</span>
        </div>
        <div class="right-content-content-comment">
          <span>
            {{ gigData.Premiumdescription }}
          </span>
        </div>
        <div class="right-content-content-flex">
          <div class="right-content-content-delivery-time">
            <mat-icon>access_time</mat-icon>
            <span>{{ gigData.PremiumDeleveryTime }} Delivery</span>
          </div>
          <div class="right-content-content-Revision">
            <mat-icon>refresh</mat-icon>
            <span>{{ gigData.PremiumRevisions }} Revisions</span>
          </div>
        </div>
        <div class="right-content-content-abilitys">
          <div class="right-content-content-ability">
            <mat-icon class="checked-situation"> check</mat-icon>
            <span>{{ gigData.PremiumBaseArtwork }} Base Artwork</span>
          </div>
          <div class="right-content-content-ability">
            <mat-icon class="checked-situation"> check</mat-icon>
            <span>{{ gigData.PremiumTraitAccessory }} Trait/Accessory</span>
          </div>
          <div class="right-content-content-ability">
            <mat-icon class="checked-situation"> check</mat-icon>
            <span>{{ gigData.PremiumVariation }} Variation</span>
          </div>
          <div class="right-content-content-ability">
            <mat-icon
              class="checked-situation"
              [ngClass]="{
                'checked-situation-disabled': gigData.PremiumMetadata == 'false'
              }"
            >
              check</mat-icon
            >
            <span>Metadata</span>
          </div>
          <div class="right-content-content-ability">
            <mat-icon
              class="checked-situation"
              [ngClass]="{
                'checked-situation-disabled':
                  gigData.PremiumGeneration == 'false'
              }"
            >
              check</mat-icon
            >
            <span>Collection Generation</span>
          </div>
          <div class="right-content-content-ability">
            <mat-icon
              class="checked-situation"
              [ngClass]="{
                'checked-situation-disabled':
                  gigData.PremiumBackground == 'false'
              }"
            >
              check</mat-icon
            >
            <span>Background/Scene</span>
          </div>
        </div>

        <div class="Contact-me">
          <button
            mat-flat-button
            color="primary"
            (click)="openDialogEmail()"
            class="Contact-me-b"
          >
            Contact Me
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
