<div>
  <hr />

  <div class="mainpage">
    <div class="footer">
      <div class="footer-flex">
        <div>
          <p class="copyright-text">
            Copyright &copy; 2022 All Rights Reserved by
            <a href="https://opensea.io" target="blank">AlienWaves</a>.
          </p>
        </div>
        <span class="example-spacer"></span>

        <div class="logos">
          <a mat-mini-fab class="facebook" href="#"
            ><i class="fa fa-facebook fa-lg"></i
          ></a>
          <a mat-mini-fab class="twitter" href="#"
            ><i class="fa fa-twitter fa-lg"></i
          ></a>
          <a mat-mini-fab class="dribbble" href="#"
            ><i class="fa fa-dribbble fa-lg"></i
          ></a>
          <a mat-mini-fab class="linkedin" href="#"
            ><i class="fa fa-linkedin fa-lg"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
