<div class="mainpage1">
  <div class="homepage-background-img" ></div>
    
  <div class="mainpage">


    <div class="first-content">

      <div class="first-content-field">


        <div class="first-content-field-text">
          Genefyt
        </div>
        <div class="first-content-field-smaller-text">
          Find the perfect Design for your NFT business <br>
          Powered by creators everywhere.
        </div>

        <div class="input-group">
          <input type="text" id="search" placeholder="Search..." autocomplete="off">
          
          <label for="search"><mat-icon  >search</mat-icon></label>
        </div>

        <div class="chips-list">
          <span class="Trending-span">Trending :</span>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>NFT</mat-chip>
            <mat-chip>Contract maker</mat-chip>
            <mat-chip>web3 developer</mat-chip>
          </mat-chip-list>

        </div>
    </div>
  </div>

    <div class="under-first-content" >
      <div class="under-first-content-number" >
        <h1>$40B+</h1>
        <span>spent on NFTs</span>
      </div>
      <div class="under-first-content-number" >
        <h1>28.6M+</h1>
        <span>wallets traded NFTs</span>
      </div>
      <div class="under-first-content-number" >
        <h1>$532M</h1>
        <span>most expensive NFT</span>
      </div>
      <div class="under-first-content-number" >
        <h1>$6.5B+</h1>
        <span>Opensea total trade</span>
      </div>
    </div>
  </div>
</div>
<!--------------------------------------------------------------------------------------->
<div class="one-content">
  <div class="mainpage">
    <div class="one-content-flex" >
      
      <div class="one-content-left" >

    <div class="one-content-text" >PROTOCOL GOVERNANCE 
      <mat-icon>arrow_forward</mat-icon>
    </div>
        <h1>A growing network of DeFi Apps.</h1>
        
        <h2>Developers, traders,
           and liquidity providers participate together
           in a financial marketplace that is open and accessible to all.
        </h2>
      </div>
      

      <div class="one-content-right">

        <div class="one-content-right-item">

        </div>

      </div>

    </div>
  
  </div>
</div>

<!--------------------------------------------------------------------------------------->

<div class="slick-carousel-content">
  <div class="slick-carousel-content-size">
    <div class="slick-carousel-content-head-text">How to use Genefyt</div>


      <ngx-slick-carousel class="carousel" 
      #slickModal="slick-carousel" 
      [config]="slideConfig" >

      <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{slide.img}}" alt="dfaz" width="250px;" height="300px;" >
      </div>
      </ngx-slick-carousel>


  </div>
</div>  

<!--------------------------------------------------------------------------------------->
<div class="two-content">
  <div class="mainpage">

    <div class="two-content-text" >PROTOCOL GOVERNANCE 
      <mat-icon>arrow_forward</mat-icon>
    </div>

    <div class="two-content-flex" >
      
      <div class="two-content-left" >
        
      </div>
      
      <div class="two-content-right">

        <div class="two-content-right-item" >daz </div>
        <div class="two-content-right-item item2" >daz</div>
        <div class="two-content-right-item" >daz</div>

      </div>

    </div>

  
  </div>
</div>







<!--------------------------------------------------------------------------------------->


<div class="three-content">
  <div class="mainpage">
    <div class="three-content-head-text">How to use Genefyt</div>
    <div class="three-content-cards">

      <mat-card class="three-content-card" >
        <div class="three-content-card-1" >LOGO</div>
        <div class="three-content-card-2" >Mint</div>
        <div class="three-content-card-3" >Hedge against the volatility of your crypto-assets by holding in TUSD, as stable as the dollar.</div>

      </mat-card>

      <mat-card class="three-content-card" >
        <div class="three-content-card-1" >LOGO</div>
        <div class="three-content-card-2" >Mint</div>
        <div class="three-content-card-3" >Hedge against the volatility of your crypto-assets by holding in TUSD, as stable as the dollar.</div>

      </mat-card>

      <mat-card class="three-content-card" >
        <div class="three-content-card-1" >LOGO</div>
        <div class="three-content-card-2" >Mint</div>
        <div class="three-content-card-3" >Hedge against the volatility of your crypto-assets by holding in TUSD, as stable as the dollar.</div>

      </mat-card>


  </div>
  </div>
</div>