.mainpage {
    max-width: 1000px;
    margin:  auto;
    min-height: 750px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}
  
.mat-step-content {
    margin: 40px auto ;
    width: 80%;
    height: max-content;
}
.mat-form-field{
    margin: 20px 35px ;
    width: 80%;

}

mat-stepper{
    min-height: 700px;
    background-color: transparent;
    color: var(--whitecolor);
}
button{
    margin: 30px  auto auto 40px ; 
    background-color: var(--maincolor);
    color: var(--darkcolor);
}
/********************Profile picture**********/
input[type="file"] {
    opacity: 0;
    cursor: pointer;

}
.profile-pic-flex{
    margin-left: 40px;
    min-height: 160px;
    width: max-content;
}
.profile-pic-text{
    font-size: 16px;
    padding: 13px 10px ;
    border-radius: 5px;
    width: max-content;

}
.profile-pic{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0;
    height: 150px ;
    width: 150px;
    border: 2px solid gray;
    border-radius: 50%;
    position: relative;
    background-color: transparent;

}
.profile-pic:hover{
    background-color: var(--soft-darktranscolor);

}

.profile-pic span {
    position: absolute;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    z-index: 1;

}
.profile-pic input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
.imagePreview{
    height: 145px;
    width: 145px;
    margin-left: -5px;
    margin-top: 0;
    z-index: -1;
}
.imagePreview img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
/*********************************************************/
.done-div{
    margin: 100px 40px;
    height: 40px;
    width: max-content;
    padding: 10px 30px ;
    border: solid rgba(128, 128, 128, 0.671) 1px;
    display: flex;
    border-radius: 10px;
}

.done-div span{
    margin: auto;
    font-size: 25px;
    margin-left:10px ;

}
.done-div p{
    font-size: 16px;
    line-height:42px;
}

.responsetime{
    display: flex;
    width: 80%;
    border: solid 1px gray;
    margin: 10px 35px ;
    border-radius: 10px;
}
@media only screen and (max-width: 800px) {
    .responsetime {
      flex-direction: column;
    }
  }

