<div class="sign">
  <form (submit)="onSignup(firstFormGroup)" [formGroup]="firstFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Enter your name</mat-label>
      <input
        matInput
        type="text"
        name="name"
        formControlName="NameFormCtrl"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your Email</mat-label>
      <input
        matInput
        type="text"
        formControlName="EmailFormCtrl"
        name="email"
        placeholder="Email@gmail.com"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="PasswordFormCtrl"
        name="password"
        required
      />

      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button class="submit-button" type="submit">
      Submit
    </button>
  </form>
</div>
