<div class="sign">


    <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
      
      
      
      
      <mat-form-field appearance="outline">
        <mat-label>Enter your name</mat-label>
        <input matInput type="text" ngModel name="nom" #nom="ngModel"  required >
        <mat-error *ngIf="nom.invalid">you must enter a value</mat-error>
      </mat-form-field>
      
        <mat-form-field  appearance="outline">
          <mat-label>Enter your Email</mat-label>
          <input matInput type="text" ngModel name="email"  placeholder="Email@gmail.com" required>
      </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Enter password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" ngModel name="password" #pst="ngModel"  required >
          <mat-error *ngIf="pst.invalid">you must enter a value</mat-error>
      
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          </mat-form-field>
          <button mat-raised-button class="submit-button" type="submit">Submit</button>
      
      </form>
    
</div>