.mainpage {
    max-width: 1100px;
    margin: auto;
}

.head-profile {
    margin-top: 20px;
    max-width: 100%;
    height: 180px;
    background-color: transparent;
    box-shadow: rgba(211, 211, 211, 0.02) 0px 1px 3px 0px,
    rgba(218, 218, 218, 0.15) 0px 0px 0px 1px;
    padding: 20px;
    display: flex;
    color:var(--whitecolor);
    position: relative;
}
.profile-header-img{
    position: absolute;
    height: 180px;
    width: 180px;
    right: 0;
    bottom: 0;
    z-index: 1;
}
/**************-first  content-*****************/
.avatar{
    top: 15px;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    position: relative;
}

.verified{
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 14px;
    left: 76px
}

/**************-secend  content-*****************/
.secend-content{
    width: 350px;
    padding: 20px 20px 20px 40px ;
    z-index: 2;
}
.head-line-1{
    display: flex;
}

.User-name{
    font-weight: 500;
    font-size: 23px;
    line-height: 38px;
}

.User-location{
    font-size: 18px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    color:var(--graycolor);
    color:var(--graycolor);

}
.User-location-icon{
    font-size: 20px;
    margin-top: 7px;
    margin-left: 15px;
    color:var(--graycolor);

}

.head-line-3{
    margin: 30px auto;
    display: flex;
}
.User-wallet{
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 3px 15px;
    width: max-content ;
    border: rgb(143, 143, 143) solid 1px;
    border-radius:15px ;
}
.User-wallet:hover{
    border: var(--maincolor) solid 1px;
    color: var(--maincolor);
}
.User-wallet:active{
    transform: translateY(1px);
}
.User-rate{
    position: relative;
    width: 60px;
}
.User-rate mat-icon{
    color: var(--goldcolor);
    font-size: 25px;
    margin: 0 -1px;
}
.User-rate span{
    color: var(--goldcolor);
    position: absolute;
    font-size: 19px;
    top: 4px;
    left: 30px;
}


.third-content{
    width: 40%;
    position: relative;
}

.Contact-me{
margin-top: -5px;
margin-left: 20px;

}
.Contact-me-b{
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 24px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, #16b897 0%, #17a78a 50%, #148a72 100%);
}
.Contact-me-b:hover{
    color: var(--darkcolor);
}


/************************************************************************************************************************/



.big-secend-content{
    margin-top: 20px;
    display: flex;
    height: 900px;
    justify-content: space-between;
    
}
.left-secend-content{
    width: 29%;
}

.first-left-secend-content{
    background-color: transparent;
    box-shadow: rgba(211, 211, 211, 0.02) 0px 1px 3px 0px,
    rgba(218, 218, 218, 0.15) 0px 0px 0px 1px;
    height: max-content;
    padding: 10px 20px;
}
.mat-list{
    height: 100%;
}
.mat-list-item{
    height: max-content;
    padding: 10px;

}

.head-text{
    margin-top: 15px;
    font-size: 18px;
    color: var(--whitecolor);
}
.under-head-text{
    margin-top: 10px;
    font-size: 16px;
    color: var(--graycolor);

}



.secend-left-secend-content{
    margin-top: 20px;
    min-height: 100px;
    background-color: transparent;
    box-shadow: rgba(211, 211, 211, 0.02) 0px 1px 3px 0px,
    rgba(218, 218, 218, 0.15) 0px 0px 0px 1px;

}

.right-secend-content{
    width: 69%;
    height: max-content;
    
}
.first-right-secend-content{
    background-color: transparent;
    box-shadow: rgba(211, 211, 211, 0.02) 0px 1px 3px 0px,
    rgba(218, 218, 218, 0.15) 0px 0px 0px 1px;
    min-height: 50px;
}
.first-right-secend-content-empty{
    background-color: var(--soft-darkcolor);
    height: 30px;
}
.first-right-secend-content-empty span {
    color: var(--whitecolor);
    font-size: 18px;
    line-height: 30px;
}
.first-right-secend-content-empty button {
    margin-left: 80px;
    top: -3px;
}


