/*********************************/

.mainpage {
  max-width: 1200px;
  margin: 20px auto;
  min-height: 700px;
}
input,
textarea {
  color: white;
}

/*********************************/
.content {
  margin: auto;
  width: 90%;
}
.content-div {
  margin: 50px 20px;
  line-height: 1.6;
}
.content-div span {
  color: var(--maincolor);
  font-size: 28px;
  font-weight: lighter;
}
.content-div p {
  line-height: 1.6;
  color: white;
  font-weight: lighter;
  font-size: 18px;
  margin-top: 19px;
}
/*********************************/

.secend-content {
  min-height: 450px;
  margin: auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.secend-content-first {
  width: 45%;
}
.secend-content-first-card {
  background-image: url(../../assets/homepage-img.png);
  filter: grayscale(0.7);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  width: 99%;
  height: 99%;
}

.secend-content-secend {
  width: 50%;
}
.secend-content-secend mat-card {
  background-color: var(--soft-darkcolor);
  width: 90%;
  height: 90%;
}

.secend-content-secend h1 {
  margin: 20px auto;
  text-align: center;
  color: var(--whitecolor);
}
/*************************************/

mat-form-field {
  margin: auto;
  width: 70%;
}
.submit-button {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  background-color: var(--maincolor);
}

form {
  height: 95%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.icon {
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}
/********************Screen***************************/
@media only screen and (max-width: 1150px) {
  .secend-content {
    flex-direction: column;
  }
  .secend-content-first {
    margin: auto;
    width: 80%;
  }
  .secend-content-secend {
    margin: auto;
    width: 80%;
  }
}
