@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--whtiecolor);
  background: var(--darkcolor);
  font-family: "Roboto", sans-serif;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
  color: var(--saltcolor);
}

.fas {
  font-size: 27px;
}
ul {
  list-style-type: none;
}

:root {
  --darkcolor: #120f1a;
  --soft-darkcolor: #1d1927;
  --whitecolor: #e2e2e2;
  --graycolor: #8a8d8e;
  --maincolor: #16b998;
  --maintranscolor: #16b99871;
  --secendcolor: #1772b0;
  --darktranscolor: #120f1ace;
  --soft-darktranscolor: #312e3d69;
  --goldcolor: #adadad;
}

/*********************-Active Button********************/

.activebutton {
  color: var(--maincolor) !important;
}
/*********************-Snack Bar************************/

.red-snackbar {
  background: #da220a;
  color: var(--whitecolor);
}
.green-snackbar {
  background: #088f1f;
  color: var(--whitecolor);
}
/*********************-Dialog***************************/

mat-dialog-container {
  background-color: var(--soft-darkcolor) !important;
  padding: 0 !important;
  margin: 0 !important;
}

.backdropBackground {
  background-color: #120f1aa2;
}
/********************* -Slick ***************************/

.slick-prev:before,
.slick-next:before {
  color: white !important;
  font-size: 28px !important ;
  margin: -18px;
}

/********************* -Form ***************************/

.mat-form-field-label {
  color: white !important;
}
.mat-select-arrow {
  color: white !important;
}
.mat-select-min-line {
  color: white !important;
}
.mat-focused .mat-form-field-label {
  color: white !important;
}

.mat-input-underline {
  background-color: white !important;
}
.mat-form-field-appearance .mat-form-field-underline::before {
  background-color: white !important;
}

.mat-input-element::placeholder {
  color: var(--graycolor) !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--graycolor) !important;
}

/********************* -Tooltip ***************************/

.mat-tooltip {
  background-color: var(--soft-darkcolor) !important;
  color: var(--whitecolor) !important;
  font-size: 12px;
}
/********************* -Divider ***************************/

mat-divider {
  margin: auto !important;
  width: 95% !important ;
  background-color: rgba(184, 184, 184, 0.24) !important;
}

/********************* --------- ***************************/
.mat-stepper-horizontal-line {
  background-color: rgba(128, 128, 128, 0.493) !important;
}
.mat-step-icon {
  background-color: var(--graycolor) !important;
  color: var(--whtiecolor) !important ;
}

.mat-step-icon-selected {
  background-color: var(--maincolor) !important;
}
.mat-step-text-label {
  color: white !important;
}
.basic-container .mat-step-header .mat-step-icon-selected {
  background-color: #6cb73a;
  color: #fff;
}

.mat-step-header .mat-step-icon {
  color: #fff;
}

/*********************-Mat Checkbox********************/

.mat-checkbox-checked .mat-checkbox-background {
  background-color: var(--maincolor) !important;
}

.mat-checkbox-frame {
  background-color: #ffffff !important;
}
